.Button {
  background-color: rgb(236, 236, 236);
  border : none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  white-space: nowrap;
}

.Button_POSITIVE {
  background-color: rgb(133, 175, 243);
  color: white;
}
.Button_NEGATIVE {
  background-color:  rgb(236, 68, 82);
  color: white
}