.Header {
  display: flex;
  align-items: center;
  padding : 20px 0px;
}

.Header_white {
  color: white;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 50%;
  font-size: x-large;
  font-weight: 500;
  justify-content: center;
}

.Header .header_left {
  width: 25%;
  justify-content: start;
}
.Header .header_right {
  width: 25%;
  justify-content: end;
}