.LogoItem {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  /* 정사각형 모양 유지 */
  aspect-ratio: 1;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.LogoItem .logo_img {
  width: 80%;
  height: auto;
  object-fit: contain;
  margin-bottom: 8px;
}


/* 선택한 Logo */
.LogoItem_on_1{
  color: white;
  background-color: rgb(122, 136, 255);
}
.LogoItem_on_2{
  color: white;
  background-color: rgb(2, 203, 189);
}
.LogoItem_on_3{
  color: white;
  background-color: rgb(253, 206, 23);
}
.LogoItem_on_4{
  color: white;
  background-color: rgb(251, 142, 87);
}
.LogoItem_on_5{
  color: white;
  background-color: rgb(1, 162, 224);
}