.PostItem{
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 2px solid rgb(236,236,236);
}

.PostItem .img_section {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(236,236,236);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
}

.PostItem .img_section > img {
  width: 50%;
}

.PostItem .info_section {
  flex: 1 1 auto;
  min-width: 0;
}

.PostItem .info_section .created_date {
  font-weight: bold;
  font-size: 15px;
}

.PostItem .info_section .content {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PostItem .button_section {
  min-width: 70px;
}