.Video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  border-radius: 8px;
}

.VideoTitle{
  width: 100%;
  text-align: center;
}

.VideoItem {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  overflow: hidden;
}

.VideoItem .VideoItem_Title{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.VideoItem .VideoItem_Title h4 {
  margin: 10px;
  font-size: small;
  text-align: start;
  white-space: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.VideoItem iframe {
  width: 100%;
  border: none;
}

/* VideoList.css에 추가할 스타일 */
.FullscreenVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  padding: 0px 10px 30px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VideoOverlay {
  position: relative;
  width: 100%;
  height: 30%;
}

.NewButton {
  position: fixed;
  bottom: 20px;
}

.CloseButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.VideoItem {
  transition: transform 0.2s ease;
}

.VideoItem:hover {
  transform: scale(1.02);
}