.Viewer > section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Viewer .logo_img_wrapper {
  width: 30%;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  color: white;
}

.Viewer .logo_img_wrapper img {
  width: 50%;
}

.Viewer .logo_img_wrapper_1 {
  background-color: rgb(122, 136, 255);
}
.Viewer .logo_img_wrapper_2 {
  background-color: rgb(2, 203, 189);
}
.Viewer .logo_img_wrapper_3 {
  background-color: rgb(253, 206, 23);
}
.Viewer .logo_img_wrapper_4 {
  background-color: rgb(251, 142, 87);
}
.Viewer .logo_img_wrapper_5 {
  background-color: rgb(1, 162, 224);
}

.Viewer .content_wrapper {
  width: 100%;
  background-color: rgb(236,236,236);
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;

}

.Viewer .content_wrapper > h5 {
  padding: 20px ;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
}

.content_section .content_wrapper .content_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;

  list-style-type: decimal;
  padding: 20px 1rem 20px 2rem;
}

.content_section .content_wrapper .content_list li {
  font-size: large;
  line-height: 1.5;
}