@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

* {
  font-family: 'Toss Product Sans';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(25, 30, 40)
}

html, body {
  margin: 0;
  background-color: rgb(246, 246, 246);
  width: 100%;
  display: flex;
  min-height: 100vh;
}

h4 {
  font-size: large;
  font-weight: bold;
  margin: 10px 0px
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0 16px;
}

/* 태블릿 이상 화면에서의 스타일 */
@media screen and (min-width: 768px) {
  #root {
    max-width: 800px;
    padding: 0 20px;
  }
}