@font-face {
  font-family: "Moneygraphy-Rounded";
  src: url(/Moneygraphy-Rounded.ttf);
}
@font-face {
  font-family: "Moneygraphy-Pixel";
  src: url(/Moneygraphy-Pixel.ttf);
}

html, body {
  margin: 0px;
  background-color: rgb(246, 246, 246);
  width: 100%;
  display: flex;
}

#root {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
}

body * {
  font-family: "Moneygraphy-Rounded";
}